<div *ngIf="olympics$ | async as olympics">
    <div *ngFor="let olympic of olympics">
        <h2>Olympic : {{ olympic.country }}</h2>
        <div *ngFor="let participation of olympic.participations">
            <h3>Participation de la ville de : {{ participation.city }}</h3>
            <p>Nombre d'athlete : {{ participation.athleteCount }}</p>
            <p>Médailles Gagné : {{ participation.medalsCount }}</p>
            <p>Nombre de participation : {{ participation.year }}</p>
        </div>
    </div>
</div>